<h1>投稿一覧</h1>
<p><%= notice %></p>

<table>
  <tr>
    <th>名前</th>
    <th>内容</th>
  </tr>

  <% @facebooks.each do |facebook| %>
  <tr>
    <td><%= facebook.title %></td>
    <td><%= facebook.content %></td>
    <td><%= image_tag facebook.image.url ,size:"100x100" %></td>
    <td><%= facebook.user.name %></td>
    <td><%= link_to "ブログを編集する", edit_facebook_path(facebook.id) %></td>
    <td><%= link_to "ブログを削除する", facebook_path(facebook.id), method: :delete, data: {confirm: "本当に編集していいですか？"}  %></td>
  </tr>
  <% end %>
</table>

<%= link_to "新規投稿画面に戻る", new_facebook_path %>
